@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Raleway:wght@500&family=Roboto&display=swap" );
@import url("https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css");
@import url("https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css");


:root { /** Definir variable en css  selector root**/
    /* Palette*/
    --primary-solid: #9f3647;  /** Para declarar variable se comienza con --(nombre que quiera escribir):**/
    --primary-shadow: rgb(140, 48, 63); 
    --primary-500: rgb(159, 54, 71,0.5); /* 0.9 transparencia del mismo color de arriba*/
    --primary-300: rgb(255, 51, 51,0.3); 

    --secondary-solid: #181419;
    --secondary-500: #555;
    --secondary-shadow: #9E9E9E;
    --secondary-300: rgb(29, 132, 181,0.3); */ 

    --dark-solid: #1F1F1F;
    --dark-900:  rgb(42, 42, 42);
    --dark-600:  #333333;
    --dark-300:  rgb(42, 42, 42, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /*Typography*/
    --base-font: 'Nunito Sans', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-size */
    --font-xdisplay: 6.4em;
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall:1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-100: 10rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a{
    text-decoration: none;
    
    font-family: inherit;
    color: inherit; /** Tomar color heredado**/
}

header,footer{
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}
ul,ol{
    list-style-type: none;
    
}
p{
    font-size: 1.8em;
}
img{
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
li{
    list-style: none;
}
body{
    background-color: var(--dark-solid);
    color: var(--light-font-solid);
}
.navbar-expand-md{
    justify-content:space-around;
}
 .navbar_lista{
    background-color: var(--primary-solid);
    position:fixed;
    padding: 0 var(--spacing-8) ;
    align-items: center;
    width: 100%;
    top:0;
    display: flex;
    justify-content: space-around;
    z-index: 3; /*p q lo la tape el overlay*/
 }
 .navbar-expand-md .navbar-collapse{
    display: flex;
    justify-content: flex-end;
    
 }
 .navbar-nav{
    display: flex;
 
 }
ul{
   display: flex;
   align-items: center;
   margin:0;
}
 .navbar_item{
    font-size:var(--font-small);
    margin: var(--spacing-16);
    font-family: var(--base-font);
    background-color: var(--primary-solid);
    padding: var(--spacing-8 );
    border-radius: 4px;
 }
 #btn_login{
    background-color: var(--dark-solid);
    vertical-align:bottom;
    padding: var(--spacing-8 );
    border-radius: 4px;
 }
.animate__wobble {
  animation-delay: 3s;
  animation-duration: infinite;
}
/*-----BODY------*/
.animate__fadeInUp {
animation-delay: 1s;
animation-duration: 2s;
animation-duration: infinite;
}
.section__principal{
    background-image: url('../img/banner-bg.jpg');
    background-size:cover;
    background-position-y: -60px;
    background-position: center;
    background-repeat: no-repeat;  
    min-height: 550px;
} 
.overlay {
      position: absolute; /* Posición absoluta para superponer la capa */
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      background-color: rgba(0, 0, 0, 0.5); 
      pointer-events: none; /* hace q los eventos atraviesen la capa y se pueda acceder al boton register*/
    }
 .navbar_item:hover, #btn_login:hover {
    background-color: var(--primary-solid);
    /* padding: var(--spacing-8) ; */
    box-shadow: 2px 2px 2px 2px var(--primary-shadow);
 }
 .container-fluid{
    padding-top:var(--spacing-36);
    position: relative;
    z-index: 2; /*para que se ubique delante de overlay*/
 }
 #logo{
  font-family: var(--base-font);
  font-size: var(--font-small);
  padding: 10px;
 }
.section__find{
   padding: 6%;
   background-color: var(--dark-solid);
   display: flex;
   flex-direction: column;
}
.titulo__section, .parrafo__section{
    font-size:var(--font-jumbo);
    font-family:var(--base-font);
}
.titulo{
    font-family: var(--base-font);
    font-size: var(--font-xdisplay);
    margin:var(--spacing-36);
    margin-bottom: 0;
}
.sub-titulo{
    margin-top: 0;
}
.div__find{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
}
.btn-danger{
    min-width:10%;
}
.btn-danger:hover{
    /* border:2px solid var(--light-font-solid); */
    transform: scale(0.95);
    transition: transform 0.8s ease; 
    background-color: var(--primary-shadow);
}
.input__find{
    height:3em;
    border-radius: 25px;
    align-content:flex-start;
    margin:6rem 2% 6rem 24%;
    font-size: var(--font-small);
    padding-left: 20px;
    width:40%;
}
.btn__find{
    border-radius: 20px;
    border:2px solid var(--light-font-solid);
    color:var(--light-font-solid);
    font-size: var(--font-medium);
    padding: 0.8rem ;
    width: var(--spacing-68);
    height:5rem;
}
.btn__register{
width:var(--spacing-128);

}
.btn__find:hover, .btn__ant:hover, .btn__sig:hover{
    transform: scale(0.9);
    transition: transform 0.8s ease; 
}
.btn__find:hover{
    border:2px solid var(--light-font-solid);
}
.border-danger{
    width: 80%;
    margin:auto;
}
.section__movies{
    background-color: var(--dark-solid);
}
.container__movies{
    display:grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    background-color: var(--dark-solid);
    padding-bottom: var(--spacing-28);
}
.movie__pic{
    width:80%;
}
.movie__pic img{
    border-radius: 5px;
}
.btn__ant, .btn__sig{
  border:1px solid var(--light-font-solid);
  width:6em;
  height: 3em;
  background-color: var(--primary-solid);
    color:var(--light-font-solid);
    font-size:var(--font-small);
    margin:0 1em;
    border-radius: 3px;
}
.row__btns{
    display:flex;
    justify-content: center;
    margin:var(--spacing-36);
    margin-bottom: var(--spacing-68);
}
[data-aos=fade-up] {
    transform: translate(0, 80px);
}
.container__aclamadas {
    overflow-x: scroll; 
    white-space: nowrap; 
    max-width: 86%; 
    margin-bottom: var(--spacing-128);
}
.image-container {
    display: flex; 
    flex-wrap: nowrap; 
    gap: var(--spacing-28);
    padding-bottom: 20px; 
    max-width: 92%;
    margin: auto;
}
.image-container .movie__pic {
     flex: 0 0 auto; 
     width: 17%;
}
.movie__pic img {
    width: 100%; 
    height: auto; 
}
/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra */
    background-color: var(--dark-solid);
}
/* Estilo del "pulgar" de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: var(--primary-solid); /* Color del "pulgar" */
    border-radius: 3px; /* Borde redondeado del "pulgar" */
}
/* Estilo del "pulgar" de la barra de desplazamiento al pasar el mouse sobre él */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
    width: 10%;
}
/*----FOOTER----*/
.navbar-footer{
    background-color: var(--primary-solid);
    padding: 0 var(--spacing-8) ;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
}
#logo-footer{
  font-family: var(--base-font);
  padding: 10px;
  color:  var(--dark-solid);
  font-size: var(--font-xlarge);
 }
 /*-----------register---------*/
 #container_register{
     background-color: var(--dark-900);
     max-height: 100vh;
     overflow: hidden;
 }
 #container_register .overlay{
    background-color:var(--secondary-300);
 }
#register_file {
    margin: var(--spacing-8) auto;
    width:90%;
    background-image: url('../img/bg-register.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;  
    min-height: 100vh;  
}
.check_box{
display: inline-flex;
justify-content: space-between;
margin:5%;
gap: var(--spacing-8);
}

#col_register{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    z-index: 2;
    background-color: var(--dark-900);
    padding: var(--spacing-8);
    margin-top:var(--spacing-);
    margin-bottom:var(--spacing-20);
    font-size: var(--font-small);
}

.col_1{  
display: inline-flex;
padding-top: var(--spacing-36);
font-family: var(--base-font);
font-size:var(--font-xsmall) ;
font-weight: 700;
z-index: 1;

}
#col_register h1, .check_box{
    margin: var(--spacing-8);
    font-family: var(--base-font);
    margin: var(--spacing-20) 15%;

}
#col_register ::placeholder{
    padding: var(--spacing-8);
    color:var(--secondary-shadow);
    font-size: var(--font-xsmall);
}
#col_register .btn__register{
    margin: auto 10%;
    background-color: var(--primary-solid);
}
form{
   margin: var(--spacing-16) auto;
}
input[type=text], input[type=email], input[type=password], input[type=date], .form-control {
    flex-direction: column;
    width:70%;
    margin:auto;
    padding: var(--spacing-8);
    margin-top:var(--spacing-20);
    border: 2px solid var(--primary-solid);
    border-radius: var(--spacing-16);
    background-color: #333333;
    color: var(--secondary-shadow);
    font-family: var(--base-font);
    font-size: 1.3rem;
}
input[type=date] , .form-control{
    font-size: 1.8rem;
}
.ayuda{
    margin: 0 var(--spacing-36);
    font-size: 1.8rem;
    color: var(--secondary-shadow);
}

 /*-----media queries----------*/
     @media screen and (max-width:1100px) and (min-width:768px) {
        body{
        margin-top: var(--spacing-36);
        }
        html{
        margin: auto;
        }
        .overlay {
            width: 100%;
     
            min-height: 140%; 
            margin-top:var(--spacing-36);
        }
        .btn__register{
            margin-bottom: var(--spacing-16);
            }
        .btn__find{
            padding:0.2rem ;
        }
        .titulo{
            font-size: var(--spacing-36);
        }
        .sub-titulo{
            font-size: var(--spacing-24);
        }
        header{
            width: 100%;
        }
        .navbar-expand-md .navbar-collapse{
            justify-content: space-around;
        }}

@media screen and (max-width:768px)  {
           .navbar-expand-md .navbar-collapse{
            display: none;        
        }
        .navbar_lista{
            justify-content: flex-start;
        }
        .overlay {
     
            width: 100%;
            min-height: 140%; 
           }}
@media screen and (max-width:575px)  {
  body{
    width: 575px;
    margin: auto;
    /* width:100vh; */
  }
 hr{
    display:none;
  }
    ::-webkit-scrollbar {
        width: 0; /* Ancho de la barra */
  }
  .btn__register{
    width:auto;
  }
    .navbar_lista{
        justify-content: flex-start;
  }
  .btn__register{
    width:auto;
  }
    .overlay {
       min-width:575px;
        min-height: 140%; 
  }}
        

